---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import HeroSection from "../components/HeroSection/HeroSection.astro";
import Features from "../components/Features/Features.astro";
import Testimonials from "../components/Testimonials/Testimonials.astro";
import CTA from "../components/CTA/CTA.jsx";
import Footer from "../components/Footer/Footer.astro";
---

<Layout title="Frontend Mentor | Manage landing page">
  <Navbar />
  <HeroSection />
  <Features />
  <Testimonials />
  <CTA />
  <Footer />

  <div class="attribution">
    Challenge by <a
      href="https://www.frontendmentor.io?ref=challenge"
      target="_blank">Frontend Mentor</a
    >. Coded by <a href="https://github.com/Boston343">Web Reaper</a>.
  </div>
</Layout>

<style>
  body {
    background-image: url("/images/bg-tablet-pattern.svg"),
      url("/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 600px, 400px;
    background-position: top -100px right -200px, top 550px right -250px;
  }

  /* ====================================================== */
  /*            MEDIA QUERIES (MEDIUM DEVICES)              */
  @media screen and (min-width: 768px) {
    body {
      background-size: 800px, 800px;
      background-position: top -140px right -140px, top 1100px left -500px;
      transform: rotate(0), rotate(180);
    }
  }
</style>
