---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import HeroSection from "../components/HeroSection/HeroSection.astro";
import Features from "../components/Features/Features.astro";
---

<Layout title="Frontend Mentor | Manage landing page">
  <Navbar />
  <HeroSection />
  <Features />

  <div class="attribution">
    Challenge by <a
      href="https://www.frontendmentor.io?ref=challenge"
      target="_blank">Frontend Mentor</a
    >. Coded by <a href="https://github.com/Boston343">Web Reaper</a>.
  </div>
</Layout>
