---
import NavLink from "./NavLink.astro";
import ButtonPrimary from "../Buttons/ButtonPrimary.jsx";
---

<nav class="relative container mx-auto pl-4 py-10 pr-10">
  <!-- flex container -->
  <div class="flex items-center justify-between">
    <!-- logo -->
    <div class="pt-2">
      <img src="images/logo.svg" alt="logo" />
    </div>
    <!-- menu items -->
    <div class="hidden lg:flex space-x-7">
      <NavLink link="Pricing" />
      <NavLink link="Product" />
      <NavLink link="About Us" />
      <NavLink link="Careers" />
      <NavLink link="Community" />
    </div>
    <!-- button -->
    <ButtonPrimary text="Get Started" href="" hidey={true} />
  </div>
</nav>
