---
import FeatureItem from "./FeatureItem.astro";

const featureItems = [
  {
    title: "Track company-wide progress",
    text: "See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.",
    num: "01",
  },
  {
    title: "Advanced built-in reports",
    text: "Set internal delivery estimates and track progress toward company goals. Our customisable dashboard helps you build out the reports you need to keep key stakeholders informed.",
    num: "02",
  },
  {
    title: "Everything you need in one place",
    text: "Stop jumping from one service to another to communicate, store files, track tasks and share documents. Manage offers an all-in-one team productivity solution.",
    num: "03",
  },
];
---

<section id="features">
  <!-- flex container -->
  <div
    class="container flex flex-col px-4 mx-auto mt-16 space-y-12 md:space-y-0 md:flex-row"
  >
    <!-- what's different -->
    <div class="flex flex-col mx-auto space-y-10 md:w-1/2">
      <h2
        class="text-3xl max-w-md text-darkBlue font-bold text-center md:text-left md:text-4xl"
      >
        What's different about Manage?
      </h2>
      <p
        class="max-w-sm mx-auto md:mx-0 text-center leading-loose text-darkGrayishBlue md:text-left"
      >
        Manage provides all the functionality your team needs, without the
        complexity. Our software is tailor-made for modern digital product
        teams.
      </p>
    </div>

    <!-- numbered list -->
    <div class="flex flex-col space-y-12 md:w-1/2">
      {featureItems.map((props) => <FeatureItem {...props} />)}
    </div>
  </div>
</section>
