---
import TestimonialsSlider from "./TestimonialsSlider.jsx";
import TestimonialsBtn from "./TestimonialsBtn.jsx";
---

<section id="testimonials">
  <TestimonialsSlider client:load />
  <TestimonialsBtn />
</section>
